# Add these to .env
STOCKBIT_EMAIL=your_stockbit@email.com
STOCKBIT_PASSWORD=yourstockbitpass
STOCKBIT_PLAYER_ID=99a772b7-c359-4bce-80b1-.... ##get from https://exodus.stockbit.com/login/v6/username param player_id
STOCKBIT_REFRESH_TOKEN=test
STOCKBIT_REFRESH_TOKEN_EXPIRY=2010-04-29T08:33:56Z
STOCKBIT_ACCESS_TOKEN_EXPIRY=2010-04-23T08:33:56Z
STOCKBIT_TOKEN=test
